extends ../layout
block content
    article
        form(action='/topic/'+result.id+'/edit' method='post')
            p
                input(type='text' name='sub' value=result.sub placeholder='sub')
            p
                textarea(name='des' placeholder='description')
                    =result.des
            p
                input(type='text' name='author' value=result.author placeholder='author')
            p
                input(type='submit' value='edit')