extends ../layout
block content
    h1 Login
    article
        form(action='/member/login' method='post')
            p
                input(type='text' name='username' placeholder='username')
            p
                input(type='password' name='password' placeholder='password')
            p
                input(type='submit' value='login')
                input(type='button' value='back' onclick='location.href="/index/"')